.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.profile-card {
  background: #333e4a;
  height: 450px;
  width: 550px;
  border-radius: 5px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.infos {
  height: 70%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.img-border {
  background: linear-gradient(to bottom right, #698dcf, #ed8ae5);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.img-border img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  borderg
}

.name {
  font-size: 1.4rem;
  color: #fff;
}

.specialty {
  font-size: 0.8rem;
  color: #e07272;
  font-weight: 400;
}

.social-media {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.social-media a {
  color: #fff;
  text-decoration: none;
  margin: 0 8px;
  transition: all 0.4s ease;
}

.social-media a:hover {
  color: #e07272;
}

.contact-me-btn {
  background: transparent;
  border: 1px solid #e07272;
  border-radius: 3px;
  outline: none;
  width: 160px;
  height: 35px;
  cursor: pointer;
  color: #e07272;
  margin-top: 20px;
  transition: all 0.4s ease;
}

.contact-me-btn:hover {
  color: #fff;
  background: #e07272;
}

.stats {
  height: 30%;
  background: #fff;
  display: flex;
/*   justify-content: center; */
  align-items: center;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
/*   background: red; */
}

.stat:nth-child(2) {
  border: 1px solid #adadad;
  border-top: 0;
  border-bottom: 0;
/*   background: blue; */
}

.stat-num {
  font-size: 1.3rem;
}

.stat-name {
  font-size: 0.7em;
  color: #e07272;
}

.gardenerProfile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}